/*************************************************
              Responsive media query    
**************************************************/

/* Large devices (-xxl-, <1200px) */
@media only screen and (max-width: 1599.98px) {
  .footer__text {
    font-size: 1.5rem;
  }
}
/* Large devices (-xl-, <1200px) */
@media only screen and (max-width: 1399.98px) {
}
/* Large devices (-lg-, <1200px) */
@media only screen and (max-width: 1199.98px) {
  .cta .border--lineheading-2 {
    font-size: 5rem;
  }
}
/* Medium devices (-md-, <992px) */
@media only screen and (max-width: 991.98px) {
  html {
    font-size: 56.25%;
  }

  .modal--signup {
    width: 92%;
  }

  .sidebar {
    height: 90vh;
  }

  .banner {
    height: 90vh;
  }

  #overlay {
    height: 94.5%;
  }

  .overlay {
    height: 94.5%;
  }

  .carousel-indicators {
    bottom: 29px;
  }
  .calendar__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons-container {
    width: 100%;
  }
  .heading-2 {
    font-size: 5rem;
  }

  .contact-us__details--social-text {
    font-size: 2rem;
  }
}
/* Small devices (-sm-, <768px) */
@media only screen and (max-width: 767.98px) {
  html {
    font-size: 50%;
  }

  .modal--signup .form-input {
    margin-right: -3px;
    width: 50%;
  }

  .event--02,
  .event--03,
  .event--04 {
    display: none;
  }

  .sidebar {
    height: 91vh;
  }

  .banner {
    height: 90vh;
  }

  #overlay,
  .overlay {
    height: 96.5%;
  }

  .carousel-indicators {
    bottom: 3rem;
  }
  .calendar__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons-container {
    width: 100%;
    padding-top: 5rem;
  }

  .carousel-indicators {
    background-color: transparent;
    margin-left: 0;
    justify-content: center;
  }
  .banner #slidetext,
  .design-element__yellow,
  .design-element__dark,
  button {
    display: none;
  }

  .carousel-indicators--text {
    justify-content: center;
    flex-basis: 30%;
  }
  .bars-toggler {
    display: block;
  }

  .view--all {
    position: absolute;
    text-decoration: underline;
    cursor: pointer;
    bottom: -1rem;
    left: 45%;
    right: auto;
  }
  .cta .border--line:after {
    display: none;
  }
  .cta button {
    display: block;
  }
  .heading-2 {
    text-align: center;
  }
  .border--line + div p {
    text-align: center;
    font-size: 20px;
  }
  .form-group {
    justify-content: center;
  }

  .class__heading span {
    display: none;
  }

  .class__image {
    display: none;
  }

  .class__black-box {
    margin-bottom: 3rem;
  }

  .border--right {
    display: none;
  }
}
/* Extra small devices (-xm-, <576px) */
@media only screen and (max-width: 575.98px) {
  html {
    font-size: 45%;
  }

  .navbar {
    width: 40.6rem;
    height: 5rem;
    font-family: 'Magra', sans-serif;
    font-weight: 700;
    z-index: 100;
  }

  .banner {
    height: 90vh;
  }
  .calendar__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons-container {
    width: 100%;
    padding-top: 5rem;
  }

  .carousel-indicators {
    background-color: transparent;
    margin-left: 0;
    justify-content: center;
  }
  .banner #slidetext,
  .design-element__yellow,
  .design-element__dark,
  button {
    display: none;
  }

  .carousel-indicators--text {
    justify-content: center;
    flex-basis: 30%;
  }
  .bars-toggler {
    display: block;
  }

  .view--all {
    position: absolute;
    text-decoration: underline;
    cursor: pointer;
    bottom: -1rem;
    left: 45%;
    right: auto;
  }

  .cta button {
    display: block;
  }
  .form-group {
    flex-direction: column;
  }
  .form-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-input::placeholder {
    text-align: center;
  }

  .class__heading span {
    display: none;
  }

  .class__image {
    display: none;
  }

  .class__black-box {
    margin-bottom: 3rem;
  }

  .border--right {
    display: none;
  }

  .contact-us__map {
    grid-row: 3 / 4;
  }

  .contact-us__details {
    grid-row: 2 /3;
  }

  .contact-us__details--social-heading {
    font-size: 1.5rem;
  }

  .contact-us__details--social-text {
    font-size: 3rem;
  }

  .contact-us__details {
    background-color: transparent;
  }
  .fine-arts__image {
    display: none;
  }

  .fine-arts--classes .swiper-slide,
  .swiper-slide {
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 3rem;
  }
  .fine-arts--classes .swiper-button-prev,
  .fine-arts--classes .swiper-button-next {
    top: 3rem;
  }

  #instructor--1 {
    flex-direction: column;
    text-align: center;
  }

  #instructor--2 .fine-arts--instructors-image,
  #instructor--2 .fine-arts--instructors-details {
    display: none;
  }

  .social-icon__box {
    margin-left: auto;
    margin-right: auto;
  }

  .program .swiper-slide {
    width: 100%;
  }
  .swiper-button-prev2--02,
  .swiper-button-next2--02,
  .swiper-nav--text,
  .swiper-button-prev1--02,
  .swiper-button-next1--02 {
    display: block;
  }

  .swiper1 .swiper-slide {
    flex-direction: column;
    padding: 0 1.5rem;
  }

  .swiper1 .swiper-slide--image .fine-arts--workshop-slide-image {
    border-radius: 3rem;
  }

  .swiper1 .fine-arts--slide-title {
    padding: 4rem 0;
  }

  .swiper1 .swiper-slide--text {
    width: 100% !important;
  }

  .fine-arts--slide-text-box-1,
  .fine-arts--slide-text-box-2,
  .fine-arts--slide-text-box-3 {
    width: max-content;

    align-items: center;
    justify-items: space-around;
  }

  .workshop__btn {
    width: 100%;
  }

  .responsive__box--1 {
    display: none;
  }

  .responsive__box--2 {
    display: block;
  }

  .contact-us__form {
    background-color: #2d302d;
    padding: 8rem 1.5rem;
  }

  .contact-us__details {
    padding: 0;
  }

  .swiper-button-prev1,
  .swiper-button-next1 {
    display: none !important;
  }

  .program--programs {
    display: none;
  }
}
